In [1]:
import pandas as pd


X_pred = pd.DataFrame(data={
            'key': '2013-07-06 17:18:00.000000119',
            "pickup_datetime": ['abc'],
            "pickup_longitude": ['abc'],
            "pickup_latitude": ['abc'],
            "dropoff_longitude": ['abc'],
            "dropoff_latitude": ['abc'],
            "passenger_count": [1]
    }, index=[0])

X_pred

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2013-07-06 17:18:00.000000119,abc,abc,abc,abc,abc,1